*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background: url(./images/pattern-background-desktop.svg) , hsl(225, 100%, 98%);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
  background: #fff;
  border-radius: 22px;
  max-width: 26rem;
  box-shadow: 0 13px 17px 0px hsl(225, 100%, 94%);
}

.hero-image img{
    border-radius: 22px 22px 0 0;
    display: block;
    height: auto;
    width: 100%;
}

article{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    color: hsl(223, 47%, 23%);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 2em 0 1.1em 0;
}

.order-info{
    font-size: .9rem;
    color: hsl(224, 23%, 55%);
    padding: 0 4em 2em 4.5em;
    line-height: 1.5;
}

.annual-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-bar{
    padding: 0 2em 0 1em;
}

h2{
    color: hsl(223, 47%, 23%);
    font-size: .9rem;
    font-weight: 900;
    padding-bottom: .3em;
}

.price{
    color: hsl(224, 23%, 55%);
    font-size: .9rem;
    padding-bottom: .2em;
}

.annual-option{
    padding: 0 0 0 2.5em;
}

.annual-option > a{
    font-size: .8rem;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.annual-option > a:hover{
    opacity: .8;
    text-decoration: none;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3em 0;
}

.btn-bar{
    height: 3em;
    margin: 0 3.5em 0 3.5em;
    border-radius: 10px;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.payment-bar{
    background: hsl(245, 75%, 52%);
    color: #fff;
    box-shadow: 0px 15px 19px 0px hsl(225, 100%, 94%);
   
}

.cancel-bar{
    color: hsl(224, 23%, 55%);
}

.payment-bar:hover{
    opacity: .8;
}

.cancel-bar:hover{
    color: hsl(223, 47%, 23%);
    font-weight: 800;
}

.attribution{
    display: none; 
}


@media (max-width: 480px) {

    body{
        background: url(./images/pattern-background-mobile.svg), hsl(225, 100%, 94%);
        background-repeat: no-repeat;
        background-size: contain;
    }

    main {
      max-width: 80%;
    }
  
    h1{
        font-size: 1.3rem;
    }

    .order-info {
        padding: 0 3em 2em 4em;
        font-size: .8rem;
    }
  
    .annual-option {
      padding: 0 0 0 1em;
    }
  
    .btn-bar {
      margin: 0 1.8em 0 1.8em;
    }

    .attribution{
        display: block;
        margin: 0 0 2em 0;
        padding: 0;
        text-align: center;
        font-size: .68rem;
    }
}

